@model RedBadge.Models.PlayerModels.PlayerCreate

@{
    ViewData["Title"] = "Add A New Player";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Player">Players</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Add Player
        </li>
    </ol>
</nav>

<h1>Add Player</h1>

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="Post">
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Enter Player Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>