@model RedBadge.Models.OccasionModels.OccasionEdit

@{
    ViewData["Title"] = "Add A New Occasion";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Occasion">Occasions</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Edit Occasion
        </li>
    </ol>
</nav>

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form asp-action="Post">
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Enter Name Of Occasion" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
