@model GameDetails

@{
    ViewData["Title"] = Model.Name;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Game">Games</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Game Details
        </li>
    </ol>
</nav>

<h1>@Model.Name</h1>
<hr/>

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Delete">
                    <div class="form-group">
                        <h2>@Html.DisplayFor(Model=>Model.Name)</h2>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
   